</pre>
<div id="wrapper">
    <div class="box">
        <h3>Decision Knowledge</h3>
        #foreach($jsonArray in $jsonArrays)
            <table class="aui aui-table-sortable jsonImportTable">
                <tbody>
                <tr>
                    <th>Key</th>
                    <th>Summary</th>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
                    #foreach($jsonIssue in $jsonArray)
                    <tr>
                        <td>
                            <a target="_blank" href="$jsonIssue.getLink()">$jsonIssue.getKey()</a>
                        </td>
                        <td>$jsonIssue.getSummary()</td>
                        <td>$jsonIssue.getDescription()</td>
                        <td>$jsonIssue.getType()</td>
                    </tr>
                    #end
                </tbody>
            </table>
            <hr>
        #end

    </div>
</div>
<pre>
<script type="application/javascript">
    AJS.tablessortable.setTableSortable(AJS.$(".jsonImportTable"));

</script>